.venv
venv/
.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.nyc_output
coverage
.coverage
coverage.xml
.DS_Store
.#*
\#*#
*~
.vscode
.env
dbt-env/
logs/
.dbt/
**/jars/**
**/catalog/*.properties
data/
dags/dbt/**/target/
dags/**/target/
data/dump_db_spark.py